[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
reasoner-converter = {editable = true, git = "https://github.com/TranslatorSRI/reasoner-converter.git", ref = "ce0b54abd9f27b2a4c21a241d99087d59468996e"}

[packages]
flask = "==1.1.2"
flask-restx = "==0.2.0"
flask-migrate = "==2.7.0"
flask-script = "==2.0.6"
flask-compress = "==1.9.0"
psycopg2 = "==2.8.6"
mockito = "==1.2.2"
requests = "==2.24.0"
requests-mock = "==1.8.0"
time-machine = "==2.1.0"
coverage = "==5.5"
nose2 = "==0.10.0"
networkx = "==2.5"
waitress = "==2.0.0"
paste = "==3.5.0"
bmt = "==0.7.3"
reasoner-validator = "==2.1.0"
multiprocessing-logging = "==0.3.1"
tensorflow = "==2.7.2"
pandas = "*"
numpy = "==1.18.5"
requests-cache = "*"

[requires]
python_version = "3.7"
